.section-about {
  background-color: $color-primary-white;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  margin-top: -12vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("../img/nat-4.jpg");
  background-size: cover;

  /**
    * These below two line will give the wide style of the screeen with the regular childrens.
    * 1st transform: skewY(-7deg) will make the total section-feature to wide style (it will make the inside child wide skewY as well).
    * Since it will wide the children too, we need to reverse them to see the proper components. we can reverse them by using the same value with posiive (+) number. (-7 means +7)
  */
  transform: skewY(-7deg);
  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $color-primary-white;
  padding: 25rem 0 15rem 0;
  margin-top: -12vh;
}

.section-stories {
  position: relative;
  padding: 15rem 0;
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)
  );
}

.book {
  /**
    * The degree will give the angle to the gradient line, the first color to the second color, it will give a smooth gradient of white after that evrything will be transprent because we provide same percentage in both of them(white and transprent).
    * This will give a solid cut like clip path (but using linear-gradient).
  */
  background-image: linear-gradient(
      105deg,
      rgba($color-primary-white, 0.8) 0%,
      rgba($color-primary-white, 0.8) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-primary-black, 0.8);

  height: 50rem;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}
