@mixin clearfix {
  content: "";
  display: table;
  clear: both;
}

@mixin text-background-gradient {
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/**
  * 0 - 600px:          Phone
  * 600px - 900px:      Tablet portrait
  * 900px - 1200px:     Tablet landscape
  * [1200px - 1800px] is where our normal(desktop first) style applies
  * 1800 + px:          Big Desktop
  * ------------------------------------------------------------------
  * $breakpoint arguement choices:
  * phone
  * tab-port
  * tab-land
  * big-desk
  *
  * ORDER: Base + typography > general layout + grid > page layout > components
*/
@mixin responsive($breakpoint) {
  @if ($breakpoint == phone) {
    // 600px
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if ($breakpoint == tab-port) {
    // 900px
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if ($breakpoint == tab-land) {
    // 1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if ($breakpoint == big-desk) {
    // 1800px = Actual em is 112.5em
    @media only screen and (min-width: 120.5em) {
      @content;
    }
  }
}
