@mixin clearfix {
  content: "";
  display: table;
  clear: both;
}

@mixin text-background-gradient {
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
