/*
COLORS:

$color-primary: #ccffff;
$color-primary-light: #b2ffff;
$color-primary-dark: #80cccc;
$color-primary-white: #f7f7f7;
$color-primary-black: #070707;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

*/

// variables colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-primary-white: #f7f7f7;
$color-primary-black: #070707;
$color-gray-1: #eee;
$color-gray-2: #999;
$color-gray-3: #333;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

// Font sizes
$default-font-size: 1.6rem;

// Grid variables
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
