/**
  * Selecting the after and before sudo elements with the global(*) selector is the best practice.
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /**
    * Box model change to the border-box, so that the borders and the paddings are no longer addedto the total width or the total height
    * By setting box-sizing property to inherit, I am doing the inheritance for everyelemnt for thr box-sizing by providing the box-sizing value in "body tag".
  */
  box-sizing: inherit;
}

html {
  /**
    * Providing px values are wronmg and it can be sometime pain when browser size changed, so what we can do here. we can get the browser default value(px) and the value we want to assign(in this case 10px) and divide them and add them as  percentage (%) in font-size value.
    * (our-providing-font-value / browser-default-font-value(px))*100 = some percent-value
    * eg: (10/16)*100 = 62.5
    * Note: rem is not supported in older version if Internet Explorer.
  */
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

  @include responsive(tab-land) {
    font-size: 50%; // 1rem = 8px; 8px/16px = 50%
  }

  @include responsive(tab-port) {
    font-size: 43.75%; // 1rem = 7px; 7px/16px = 50%
  }

  @include responsive(big-desk) {
    font-size: 75%; // 1rem = 12px; 12px/16px = 75%
  }
}

body {
  /**
    * Box model change to the border-box, so that the borders and the paddings are no longer addedto the total width or the total height
  */
  box-sizing: border-box;

  padding: 3rem;

  @include responsive(tab-port) {
    padding: 0;
  }
}
