.footer {
  background-color: $color-gray-3;
  font-size: 1.4rem;
  padding: 10rem 0;

  @include responsive(tab-port) {
    padding: 8rem 0;
    width: 100%;
  }

  &__logo-box {
    text-align: center;
    margin-bottom: 7rem;

    @include responsive(tab-port) {
      margin-bottom: 4rem;
    }
  }

  &__logo {
    width: 15rem;
    height: auto;
  }

  &__navigation {
    border-top: 1px solid $color-gray-2;
    padding-top: 2rem;
    display: inline-block;

    @include responsive(tab-port) {
      width: 100%;
      text-align: center;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-primary-white;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.2s;
    }
    &:hover,
    &:active {
      color: $color-primary-light;
      box-shadow: 0 1rem 2rem rgba($color: $color-primary-black, $alpha: 0.6);
      transform: rotate(7deg) scale(1.1);
    }
  }

  &__copyright {
    color: $color-primary-white;

    border-left: 1px solid $color-gray-2;
    padding-left: 2rem;
    display: inline-block;

    @include responsive(tab-port) {
      float: none;
      width: 100%;
    }
  }
}
